.kboard {
	display: table;
	box-sizing: border-box;
	width: 100%;
	border-spacing: 10px 0px;
	list-style: none;
	margin: 0px;
	table-layout: fixed;
	padding: 10px 0px;

	.card {
		position: relative;
		display: block;
		background-color: #ecf0f1;
		cursor: move;
		padding: 5px 0px;
		margin: 0px 5px 5px;
		border-radius: 3px;
		border: 1px solid #c1c7d0;

		.ghx-issue-content {
			min-height: 66px;
			padding: 0px 10px 10px 36px;

			.ghx-issue-fields {
				padding-right: 37px;
				text-align: left;

				.ghx-type {
					top: 10px;
					left: 11px;
					position: absolute;
				}

				.ghx-key {
					display: inline-block;
					line-height: 1.5;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					a {
						text-decoration: none;
					}
				}

				.ghx-summary {
					.ghx-inner {
						display: block;
						line-height: 1.1;
						max-height: 3.3em;
						overflow: hidden;
						word-wrap: break-word;
					}
				}
			}

			.ghx-highlighted-fields {
				margin-top: 12px;
				overflow: hidden;
				padding-right: 29px;
				white-space: nowrap;
				text-align: start;

				.ghx-highlighted-field {
					max-width: 90%;

					.aui-label {
						background: #f4f5f7;
						border: 1px solid #dfe1e6;
						border-radius: 3.01px;
						color: #0052cc;
						display: inline-block;
						font-size: 14px;
						font-weight: normal;
						line-height: 1;
						padding: 1px 5px;
						margin: 0 5px 0 0;
						text-align: left;
						text-decoration: none;
					}
				}
			}
		}

		.ghx-grabber {
			background-color: #e74c3c;
			height: 100%;
			left: 0;
			top: 0;
			position: absolute;
			width: 3px;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}

.top-nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: #0d47a1;
	align-items: center;
	padding: 5px 0px;
	.nav-bar-btn {
		color: #fff;
		padding: 10px;
		margin: 5px;
	}
	.nav-bar-btn:hover {
		color: #e74c3c;
	}

	.search-container {
		flex: 0.5;
		display: flex;
		background-color: white;
		border-radius: 20px;
		height: 30px;
		padding: 5px;
		.search-text {
			padding: 10px;
			border: none;
			background: none;
			outline: none;
			font-size: 16px;
			flex: 1;
		}
		.search-btn:hover {
			background-color: #bdc3c7;
			transition: 0.4s;
		}
		.search-btn {
			color: #e74c3c;
			display: flex;
			padding: 10px;
			border-radius: 50%;
			align-items: center;
		}
	}
	.sub-nav {
		list-style: none;
		color: #fff;
		margin: 0;
		display: flex;
		align-items: center;
		padding: 0;

		.nav-item {
			border: 2px solid #0288d1;
			border-radius: 50%;
			padding: 10px;
			margin: 10px;
			background-color: #039be5;
		}
	}
}

#root .ghx-label-3 {
	color: #fff;
	background-color: #ffab00;
	border-color: #ffab00;
}

#root .ghx-label-6 {
	color: #fff;
	background-color: #60a222;
	border-color: #60a222;
}

.login-container {
	min-block-size: stretch;
	display: flex;
	justify-content: center;
	align-items: center;
	.login {
		background-color: #dfe1e6;
		border: 1px solid #bdc3c7;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-flow: column;
		width: 400px;
		padding: 20px;
		border-radius: 5px;

		.login-title-container {
			display: flex;
			align-items: center;
			flex-flow: column;
		}
		input {
			font-size: 16px;
		}
		.input-field {
			margin-bottom: 10px;

			input:not([type="submit"]) {
				border-radius: 5px;
				padding: 10px;
				border-style: unset;
				outline: none;
				cursor: pointer;
				width: 200px;
				border: 1px solid #bdc3c7;
			}
			:focus {
				border-bottom: 1px solid #0d47a1;
			}
		}

		input[type="submit"] {
			padding: 10px;
			outline: none;
			cursor: pointer;
			border-radius: 5px;
			border-style: none;
			font-weight: 600;
			width: 100px;
			background-color: #ffc107;
			border: 1px solid #ffab00;
		}

		input:hover {
			background-color: #ffd54f;
			outline: none;
			border-radius: 5px;
		}

		.errors {
			color: #e74c3c;
			font-weight: 800;
			margin-bottom: 10px;
		}

		.hide {
			display: none;
		}
	}
}
